// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
$white-color: white;
$navy-color: #1e2740;
main {
    background-color: $white-color;
}
h2 {
    color: #adadad;
    text-align: center;
    margin: 20px 0 20px;
}
a {
    color: black;
}
a:hover {
    text-decoration: none;
}
p {
    color: #adadad;
    font-size: 16px;
}
span {
    color: #adadad;
}
select {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
input {
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
}
.add_button {
    a {
        color: $white-color;
        background-color: $navy-color;
        width: 120px;
        padding: 15px;
        display: block;
        margin-left: auto;
        margin-right: 50px;
        border-radius: 5px;
        font-size: 13px;
    }
    a:hover {
        background-color: rgb(91, 208, 255);
        transition: 0.8s;
    }
}
.detail_container {
    text-align: center;
}
.catalog_text {
    width: 100%;
    height: 100px;
    margin-bottom: 30px;
}
.update_submit {
    width: 20% !important;
}

.container_wrapper {
    background-color: $navy-color;
    a {
        color: $white-color;
    }
    button:hover {
        background-color: rgb(91, 208, 255);
        transition: 0.8s;
    }
    .modal-header,
    .modal-body {
        padding: 5px 25px;
    }
    .modal-header {
        border-bottom: 1px solid #ddd;
    }
}

.new_skill {
    color: black;
}

/* 親要素(コンテナ) */
.content_wrapper {
    display: flex;
    border-bottom: 3px solid gray;
    margin-right: 50px;
    margin-left: 50px;

    /* 子要素(アイテム) */
    .content_item_icon {
        width: 10%;
        margin-right: auto;
        i {
            padding: 25px 0;
            margin-bottom: 0px;
        }
    }
    .content_item {
        display: flex;
        margin-right: 30px;
        width: 60%;
        max-width: 60%;
        p {
            padding: 20px 0;
            margin-bottom: 0px;
        }
        /*全体*/
        .hidden_box {
            padding: 0px;
            margin-left: 20px;
            position: relative;
        }

        /*ボタン装飾*/
        .hidden_box label {
            padding: 5px;
            font-weight: bold;
            border: solid 1px gray;
            cursor: pointer;
            position: absolute;
            top: 15px;
            color: #adadad;
            width: 60px;
        }

        /*ボタンホバー時*/
        .hidden_box label:hover {
            background: #efefef;
        }

        /*チェックは見えなくする*/
        .hidden_box input {
            display: none;
        }

        /*中身を非表示にしておく*/
        .hidden_box .hidden_show {
            height: 0;
            padding: 0;
            margin-top: 40px;
            overflow: hidden;
            opacity: 0;
            transition: 0.8s;
        }

        /*クリックで中身表示*/
        .hidden_box input:checked ~ .hidden_show {
            padding: 10px 0;
            height: auto;
            opacity: 1;
        }
    }
}

.search_area {
    form {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    select {
        height: 30px;
        font-size: none;
    }
    .input_keyword {
        width: 30%;
        height: 30px;
        margin-left: 20%;
    }
    .submit_button {
        width: 10%;
        height: 30px;
        color: $white-color;
        background-color: $navy-color;
        border: none;
        border-radius: 5px;
        padding: 3px;
    }
    .submit_button:hover {
        background-color: rgb(91, 208, 255);
        transition: 0.8s;
    }
}

.content {
    margin: 0 auto;
    padding: 40px;
}
.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}
.modal__bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal__content {
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    position: relative;

    .js-modal-close {
        position: absolute;
        right: 8px;
        top: 0px;
        font-size: 25px;
    }
}
